    <p>
      App is online: {{ isOnline }}
    </p>

    <p>
      App is online: {{ navigator.online }}
    </p>

    <p>
      <form ng-submit="students.sync()">
        <input class="btn-primary" type="submit" value="Sync">
      </form>
    </p>

    <p> 
      Search: <input ng-model="query">
    </p>
    
    <table class="table table-striped table-bordered table-condensed table-responsive students">
      <tr>
        <th></th>
        <th>Name</th>
      </tr>
      <tr ng-repeat="student in students.data | filter:query | orderBy:order">
        <td><form ng-submit="removeStudent('{{student._id}}')">
            <input class="btn-primary" type="submit" value="rem">
          </form>
        </td>
        <td>{{student.name}}</td>
      </tr>
      <tr>
        <td>
          </td>
        <td>
          <form ng-submit="addStudent()">
            <input type="text" ng-model="studentName"  size="30"
              placeholder="name">          
            <input class="btn-primary" type="submit" value="add">
          </form>
        </td>
        <td>
      </tr>
    </table>
